h1 {
  color: rgb(160, 13, 13);
  font-family: "Wallpoet", cursive;
  font-size: 2.5rem;
}

p {
  font-size: 1.5em;
  color: rgb(74, 105, 11);
  font-family: "Liu Jian Mao Cao", cursive;
  font-weight: bold;
  line-height: 1.5em;
}

h1 {
  text-align: center;
}

img {
  width: 60%;
  opacity: 0.7;
  position: sticky;
  min-height: 60%;
  border: solid 4px rgb(49, 37, 16);
  border-radius: 10%;
  margin: 1em;
}

.lpic {
  float: left;
}

.rpic {
  float: right;
}
body {
  background: rgb(238, 223, 210);
  margin-bottom: 95px;
  padding-top: 2.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 4rem;
  border-style: outset;
  border-color: rgb(221, 136, 56);
}

hr.style-three {
  border: 0;
  height: 10px;
  box-shadow: 0 10px 10px -10px rgb(128, 62, 0) inset;
}

@media (min-width: 700px) {
  body {
    padding: 3em 5em 1em 5em;
    margin: 0 8em 0 8em;
  }
  p {
    font-size: 2em;
    /* line-height: 2em; */
    line-break: 2em;
  }
  img {
    position: sticky;
    width: 50%;
    height: 50%;
  }
  .dash1,
  .dash2,
  .dash3,
  .dash4,
  .dash5 {
    position: relative;
  }
}

@media (min-width: 1300px) {
  body {
    padding: 3em 10em 1em 10em;
    margin: 0 13em 0 13em;
  }
  img {
    position: sticky;
    width: 40%;
    height: 30%;
  }
  p {
    font-size: 2.5em;
    line-height: 2em;
    line-break: 2em;
  }
  hr {
    padding: 5em;
  }
}
